@font-face {
    font-family: 'gora_freeregular';
    src: url('/project/fonts/gora-free-webfont.woff2') format('woff2'),
         url('/project/fonts/gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('/project/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/project/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('./project/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('/project/fonts//opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('/project/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/project/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('/project/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('/project/fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('/project/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/project/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('/project/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/project/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('/project/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('/project/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gora_freeregular';
    src: url('/project/fonts/gora-free-webfont.woff2') format('woff2'),
         url('/project/fonts/gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('/project/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/project/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('./project/fonts/sopensans-extrabold-webfont.woff2') format('woff2'),
         url('/project/fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('/project/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/project/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
